# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Ignore the final compile binary
world-explorer

#Ignore temporary files and backups
*~
#*#
